@import "./../../styles/variables";
.question-group {
  color: $color-light-100;
  padding: 1rem 0;

  .question {
    h4 {
      @include h4FontRegular;
    }
    cursor: pointer;
    text-transform: capitalize;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.questions-container {
  transform-origin: top;
  background: $primary-color-500;

  padding: 1rem;
}
.arrow {
  svg {
    height: 2.5rem;
    width: 2.5rem;

    fill: $color-light-100;
  }
  transition: 1s;
}
.rotate-down {
  transform: rotate(-90deg);
}

.rotate-up {
  transform: rotate(90deg);
}
