@import "./../../../styles/variables";
.additional-info {
  position: relative;
  border-radius: 1rem;
  width: 100%;
  height: 0;
  margin: 0 auto;
  background: $primary-color-300;

  transform: scaleY(0);
  padding: 2rem;
  transform-origin: top;

  &.card-open {
    transition: 1s all;
    height: auto;
    transform: scaleY(1);
  }
  color: $primary-font-color;
  h1 {
    text-align: center;
    @include h1FontRegular;
  }
}

.details-content {
  margin: 2rem 0;
  h3 {
    @include h3FontRegular;
    margin-bottom: 1rem;
  }
  p {
    @include bodyFontRegular;
  }
}
@media screen and (max-width: $breakpoint-tablet) {
}
