@import "./../../styles/variables";
.archibus-products {
  padding-top: 8.3rem;
  min-height: 100vh;
  max-width: $container-max-width;
  margin: 0 auto;
  display: flex;
  flex-grow: inherit;
  flex-flow: row wrap;
}
.archibus-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  &.opsid {
    transition: 1s all;
    flex-grow: 2;
  }
}
