@import "./../../styles/variables";
.section-title {
  position: relative;
  .anchor {
    position: absolute;
    top: -8rem;
  }
  h1 {
    font-size: 9rem;
    letter-spacing: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba($primary-font-color-dark, 0.2);
  }
  margin-bottom: 3rem;
}
@media screen and (max-width: $breakpoint-tablet) {
  .section-title {
    h1 {
      font-size: 6rem;
    }
  }
}
@media screen and (max-width: $breakpoint-mobile) {
  .section-title {
    h1 {
      font-size: 4rem;
    }
  }
}
